// Z-Index
// 999 Footer Overlay
// 998 Footer Form
// 997 The Footer

// Testing
$test-border: 0px solid currentColor
  
// Colors
$color-blue: #1500FF
$color-red: #FF0200
$color-ghana: #2C0402

// Transitions
$transition-hover: .1625s ease
$transition-scroll-fade: .1625s ease
$transition-scroll-filter: .5s ease
$transition-slide: .25s ease-out
$transition-filter: .6666s ease
$transition-carousel: .5s ease

// Breakpoints
$breakpoint-mobile: 800px
$breakpoint-tablet: 1024px
$breakpoint-laptop: 1440px

body
  --spacing-one: 2vmin
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  --side-spacing: 9vw
  --topside-spacing: calc(1.33rem + 5.5vw)
  --section-min-height: 100vh
  .page-Default
    --section-min-height: calc(100vh - (4 * #{var(--site-border-spacing)}))
  .page-Project
    --section-min-height: calc(100vh - (2 * #{var(--site-border-spacing)}))
  // NEW SYST
  --site-border-spacing: 2.75vw
  // Paragraph width
  h1, h2
    --paragraph-width: 100%
  h3, h4
    --paragraph-width: 75%
  h5, h6, p, .footer li, .footer a, nav li, nav a
    --paragraph-width: 50%
  .blok-Container
    h1, h2
      --paragraph-width: 100%
    h3, h4
      --paragraph-width: 85%
    h5, h6, p, .footer li, .footer a, nav li, nav a
      --paragraph-width: 66%

  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
    --side-spacing: 2em
    --topside-spacing: 2em

main
  --current-color: black
  --filter-color: #555
  --second-color: white // Inverted
  --third-color: white
  &.blue
    --current-color: #1500FF
    --filter-color: #1500FF
    --second-color: white
    --third-color: black
  &.red
    --current-color: #FF0200
    --filter-color: #FF0200
    --second-color: white
    --third-color: black
  &.ghana
    --current-color: $color-ghana
    --filter-color: $color-ghana
    --second-color: white
    --third-color: $color-ghana
  &.black
    --current-color: black
    --filter-color: #545454
    --second-color: white
    --third-color: black
  &.white
    --current-color: white
    --filter-color: white
    --second-color: black
    --third-color: white
