
$breakpoint-mobile: 768px
$breakpoint-tablet: 1024px
$breakpoint-desktop: 1400px

// Z-INDEX
$z-layerOne: 100 // Stars and Back-Menu
$z-layerTwo: 200 // Landscape
$z-layerThree: 300 // Clouds + Footer
$z-layerFour: 400 // Front-Menu
$z-layerFive: 500 // Modals
// $z-landing: 90
// $z-landscapes: 100
// $z-buildings: 110
// $z-footer: 200
// $z-scrollUp: 700
// $z-header: 800
// $z-modal: 900
$z-mouse: 999

// TYPE
$color-black: black
$color-white: white
$color-secondary: #abb8c3
$type-size-p: 1rem
$lineheight-p: 1.47em
$type-size-h1: 1.44rem
$lineheight-h1: 1.111em
$btn-padding: 0.375rem

$lineheight-serif-p: 1.47em
$lineheight-serif-h1: 1.111em

// COLORS
$color-support: green
$color-blue: #0000EE
$color-yellow: #F9ED26
$border: 1px solid red
$color-bg: hsla(0, 0%, 0%, .33)

// FONTS
$sans-serif: 'stype', Helvetica, Arial, sans-serif
$font-small: .75rem

// TRANSITIONS
$transition-hover: .33s ease
$transition-img: .33s ease-in
$transition-general: .33s ease-in-out
$transition-bg: .16s ease-in-out

// SPACING
body
  --spacing-one: 2.2rem
  --spacing-two: 4.4rem
  --spacing-ver: 1.7rem
  --spacing-hor: 2.2rem
  @media screen and ( min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet)
    --spacing-one: 1.333rem
    --spacing-two: 2.666rem
    --spacing-ver: 1.333rem
    --spacing-hor: 1.333rem
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1rem
    --spacing-two: 2rem
    --spacing-ver: 1rem
    --spacing-hor: 1rem
