
.blue
  color: $color-blue
.red
  color: $color-red
.black
  color: black
.ghana
  color: $color-ghana
.grey
  color: grey
.white, .view-People
  color: white
.view-Message
  background: white
  color: black

.fullscreen
  min-height: var(--section-min-height)
.textLeft
  text-align: left
.textCenter
  text-align: center
  .markdown
    display: flex
    flex-direction: column
    align-items: center
.capslock
  text-transform: uppercase
.visible
  opacity: 1 !important
.position
  &-TopLeft
    justify-content: flex-start !important
    align-items: flex-start !important
  &-TopRight
    justify-content: flex-start !important
    align-items: flex-end !important
  &-Center
    justify-content: center !important
    align-items: center !important
  &-BottomLeft
    justify-content: flex-end !important
    align-items: flex-start !important
  &-BottomRight
    justify-content: flex-end !important
    align-items: flex-end !important

// RANDOMNESS
.page
  .blok-Container    
    &[data-columns="2"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(even)
    &[data-columns="2"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
      & > section:nth-child(3)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(3)
    &[data-columns="2"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(4)
    &[data-columns="2"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
      & > section:nth-child(3)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(5)
    &[data-columns="2"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(6)
    &[data-columns="2"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
      & > section:nth-child(3)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(7)
    &[data-columns="2"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(8)
    &[data-columns="2"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
      & > section:nth-child(3)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(9)
    &[data-columns="2"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
  .blok-Container:nth-child(10)
    &[data-columns="2"]
      & > section:nth-child(2)
        flex-basis: random(20) + 80%
    &[data-columns="3"]
      & > section:nth-child(1)
        flex-basis: random(20) + 80%
      & > section:nth-child(3)
        flex-basis: random(20) + 80%


// CURSOR
// .cursor
//   position: fixed
//   pointer-events: none
//   z-index: 999
//   width: 6vmin
//   height: 6vmin
//   min-width: 30px
//   min-height: 30px
//   svg
//     position: absolute
//     top: 0
//     left: 0
//     transform: translate(-10%, -10%)
//     transition: color $transition-hover
//     color: currentColor

//   @media ( hover: none )
//     display: none

// GENERAL
*
  overscroll-behavior: none

::-webkit-scrollbar 
    width: 0px
    background: transparent

main
  transition: color .165s linear

section
  position: relative
  max-width: 100%
  border: $test-border
  img
    max-width: 100%

// BUILDING BLOCKS
.graphic
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 0
  bottom: 0
  width: 100%
  height: 100%
  max-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  padding-top: var(--spacing-three)
  padding-bottom: var(--spacing-three)
  padding-left: var(--side-spacing)
  padding-right: var(--side-spacing)
  z-index: 0
  pointer-events: none
  &.left
    justify-content: flex-start
  &.center
    img
      width: 100%
  &.right
    justify-content: flex-end
  .svg
    height: 100%
    width: 100%
  img
    height: 100%
