
// font-weight: 100 thin
// font-weight: 200 extralight
// font-weight: 300 light
// font-weight: 400 regular
// font-weight: 500 medium
// font-weight: 600
// font-weight: 700 bold
// font-weight: 800 black
// font-weight: 900


@font-face
  font-family: 'MaelstromSans-Bold'
  src: url('~/assets/fonts/MaelstromSans-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

body
  // https://css-tricks.com/snippets/css/fluid-typography/
  font-family: "din-2014", sans-serif
  font-weight: 400
  // font-size: calc(22px + (26 - 22) * ((100vw - 800px) / (1400 - 800)))
  font-size: 1.5vw

h1, h2, h3, h4, h5, p, a, em, strong, .markdown
  word-wrap: normal
  overflow-wrap: normal
  word-break: normal
h1, h2
  hyphens: auto
h3, h4, h5, p, a
  hyphens: none

li, h1, h2, h3, h4, h5, p, a, span, input, button
  font-family: "din-2014", sans-serif
  color: currentColor
  font-style: normal
  font-weight: 400
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, h2 // Titles // 80pt
  font-size: 6.4vw
  line-height: 1.2
  font-weight: 400
  font-style: normal
  strong
    font-weight: 600
  @media screen and ( max-width: 1200px)
    font-size: 72px
h2
  font-weight: 200
  strong
    font-weight: 400
h3, h4 // Big type // 40pt
  font-size: 3.2vw
  line-height: 1.16
  font-weight: 400
  font-style: normal
  max-width: var(--paragraph-width)
  strong
    font-weight: 600
  @media screen and ( max-width: 1200px)
    font-size: 36px
h4
  font-weight: 200
  strong
    font-weight: 400
h5, h6, p, .footer li, .footer a, nav li, nav a // Small type // 20pt
  font-size: 1.6vw
  font-weight: 400
  font-style: normal
  line-height: 1.19
  max-width: var(--paragraph-width)
  strong
    font-weight: 600
  @media screen and ( max-width: 1200px)
    font-size: 18px
h6
  font-weight: 200
  strong
    font-weight: 400
a
  color: currentColor
  text-decoration: none
  cursor: pointer
em
  font-style: italic
.inline
  li, h1, h2, h3, h4, p, a, span, input, button
    display: inline
.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, h2, h3, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
// .smallsize
//   h1, h2, h3, h4, h5, p, a
//     font-size: 1.66em !important
//     display: inline !important
